body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: rgb(73, 91, 40);
}

.container {
  display: flex;
  justify-content: center;
  padding: 52px;
  gap: 52px;
}

img {
  width: 100px;
  height: 100px;
}

.image-description {
  font-size: 1.2em;
  max-width: 200px;
}
